:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



.button {
  background: url('dog.png') no-repeat center left 2em;
  border-radius: 55px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #763030;
  cursor: pointer;
}

.button:hover {
  border-color: #381465;
}

h1 {
  color: rgb(205, 139, 77);

}

h2 {
  color: rgb(140, 60, 53);
  border: solid rgb(119, 117, 104);
  -webkit-text-stroke: .8px rgb(182, 168, 168);
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  padding: 8px 16px;
  border-bottom: 1px solid rgb(152, 102, 41);
  border-top: 1px solid rgb(128, 21, 0);
  border-inline: solid rgb(119, 117, 104);
}
